<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
        <!--Navbar start-->
        <div class="section">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <div class="container-fluid " id="navbar">
                <a class="navbar-brand fs-3" href="#">Sahil Thakur</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse fs-5" id="navbarSupportedContent" >
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0 " style="margin-right: 20px; ">
                    <li class="nav-item px-3">
                      <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item  px-3">
                      <a class="nav-link active" aria-current="page" href="#">About</a>
                    </li>
                    <li class="nav-item  px-3">
                      <a class="nav-link active" aria-current="page" href="./contact.html">Contact</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
      </div>
      <!--Navbar End-->

      <div class="" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../image/pic.jpg"  alt="..." style="width:300px; margin-left:50px;">
          </div>
          <div class="col-md-8">
              <div class="conatiner mt-3">
                <h1  style="color: rgb(10, 1, 1);">Hi, Everyone myself <b>Sahil Thakur !</b> </h1>
              <h3>Web Delveloper</h3>
              <h4 style="color: rgb(10, 1, 1);">This is my website I hope all of you like it.</h4>
              <h5 > <b>The website is made with help of HTML,CSS and a highly used of bootstrap.</b></h5>
              <h5 style="color: rgb(10, 1, 1);"><i>Welcome to our website - a digital masterpiece meticulously crafted using HTML, CSS, and the powerful Bootstrap framework!</i></h5> 
              </div>
                  <div class="conatiner mt-3">
                    <h5><i>We take immense pride in presenting an online platform that seamlessly blends artistry with cutting-edge technology, providing visitors with an unforgettable user experience.</i></h5>
                  
                  <h6 ><b><i>Intuitive Layout: The intuitive layout of the website ensures that visitors can find the information they need quickly and easily, enhancing overall user satisfaction.</i></b></h6>
                  <p  > <b><i>Accessibility: The website adheres to accessibility standards, making it inclusive and usable for all users, including those with disabilities.</i></b></p>
                  </div>
          </div>
        </div>
      </div>
      
    
      <div class="container p-4 pb-0" >
      <section class="mb-4 text-center">
        <!-- Facebook -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #3b5998;"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"><b></b></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #55acee;"
          href="#!"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #dd4b39;"
          href="#!"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac;"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin-in"><b></b></i
        ></a>
        <!-- Github -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #333333;"
          href="#!"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
    </div>
     <!-- footer -->
     <footer class="bg-dark">
        <div class="text-center text-white p-3" >
          © 2023 Copyright:
          <a class="text-white" href="#"><b>Sahil Thakur</b></a>
        </div>
        <!-- Copyright -->
      </footer>
      <script src="https://kit.fontawesome.com/62fe7307a7.js" crossorigin="anonymous"></script>
      
</body>
</html>